html, body 
{ 
 height: 100%;
}



.remi{
    display: flex;
    justify-content: center;
    max-height: 80%;
    margin-bottom: 10px;
    margin-top: 50px;
}



.fullwrap{
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: center;
    }
    

.bar{
    display: flex;
    justify-content: center;
}

.mascotimg{
    display: flex;
    justify-content: center;
}

input[type="email" i] {
    padding: 1px 2px;
    display: flex;
}

.clear{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

input[type="submit" i] {
    appearance: auto;
    user-select: none;
    white-space: pre;
    align-items: flex-start;
    text-align: center;
    cursor: default;
    box-sizing: border-box;
    background-color: #eaeaea;
    color: #000000;
    font-family: paralucent;
    letter-spacing: 0.1rem;
    border-radius: 10px;
    width: 80px;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: #eaeaea;
    border-image: initial;
}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */

  }
